# Ant
local.properties

# Maven
target/
release.properties

# Eclipse
RemoteSystemsTempFiles
.classpath
.project
.externalToolBuilders/
.metadata
.recommenders
.settings

# IntelliJ
*.iml
*.ipr
*.iws
.idea/
out/

# Mac
.DS_Store
